{% extends 'base.html.twig' %}

{% block title %}CookTime{% endblock %}

{% block body %}
    {{ parent() }}

    <main>
        <h1 class="center title">{% trans %}The recipes{% endtrans %}</h1>

        {% if app.user %}
            {% for role in app.user.roles %}
                {% if role == "ROLE_AUTHOR" %}
                    <div class="m-2">
                        <a class="btn" href="/article/add">{% trans %}Add article{% endtrans %}</a>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}


        {% for article in articles %}
        <div class="articles flexRow">
            <div class="w-2 flexCenter">
                <img class="imageArticles" src="{{ article.picture }}">
            </div>
            <div class="flexColumn w-8">
                <a class="titleArticle" href="article/{{ article.id }}"><h2>{{ article.title |title }} <span class="c-grey date">- {{ article.date |date("d/m/Y H:i") }}<span></span></h2></a>
                <p><span class="c-grey">{% trans %}Time{% endtrans %} :</span> {{ article.time |date("H:i")}}</p>
                <p><span class="c-grey">{% trans %}Level{% endtrans %} :</span> {{ article.level }}</p>
            </div>
        </div>
        {% endfor %}
    </main>

{% endblock %}
