{% extends 'base.html.twig' %}

{% block title %}CookTime{% endblock %}

{% block body %}
    {{ parent() }}

    <main>
        <h1 class="center title">{% trans %}The recipes{% endtrans %}</h1>

        <div class="m-2">
            <a class="btn" href="/article/add">{% trans %}Add article{% endtrans %}</a>
        </div>

        {{ dump(articles) }}
        {% for article in articles %}
        <div class="articles flexRow">
            <div class="w-2 flexCenter">
                <img src="{{ article.picture }}">
            </div>
            <div class="flexColumn w-8">
                <a href="article/{{ article.id }}"><h2>{{ article.title |title }} - {{ article.date |date("d/m/Y H:i") }}</h2></a>
                <p>{% trans %}Time{% endtrans %} : {{ article.time |date("H:i")}}</p>
                <p>{% trans %}Level{% endtrans %} : {{ article.level }}</p>
            </div>
        </div>
        {% endfor %}
    </main>

{% endblock %}
