{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
    {{ parent() }}

    <main>
        <h1 class="center title">{{ article.title |title }}</h1>

        {% if app.user %}
            {% if app.user.id == article.user.id %}
                <div class="flexCenter m-2">
                    <a class="btnHover" href="{{ path("article_update", {id: article.id })}}"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a class="btnHover" href="{{ path("article_delete", {id: article.id })}}"><i class="fa-solid fa-trash"></i></a>
                </div>
            {% endif %}
        {% endif %}

        <div class="flexCenter">
            <img class="imageArticle" src="{{ article.picture }}">
        </div>

        <div class="flexRow flexCenter">
            <p class="time"><i class="fa-solid fa-clock c-orange"></i>{{ article.time |date("H:i")}}</p>
            <p class="time"><i class="fa-solid fa-utensils c-orange"></i>{{ article.level }}</p>
        </div>

        <h2 class="center titlePreparation">{% trans %}Preparation{% endtrans %}</h2>

        <div class="preparation">
            {{ article.preparation |raw}}
        </div>

        <div class="lineHorizontal"></div>

        <h2 class="center titlePreparation">{% trans %}Comments{% endtrans %}</h2>

        {% if app.user %}
            <div class="m-2">
                <a class="btn" href="{{ path("comment_add", {id: article.id })}}">{% trans %}Add comment{% endtrans %}</a>
            </div>
        {% endif %}

        {% for comment in comments %}
            <div class="comment flexColumn">
                <p class="c-grey date">{{ comment.date |date("d/m/Y H:i") }}</p>
                <p>{{ comment.comment }}</p>
            </div>

            {% if app.user %}
                {% for role in app.user.roles %}
                    {% if role == "ROLE_MODERATOR" %}
                        <div class="flexCenter">
                            <a class="btnHover" href="{{ path("comment_update", {id: comment.id })}}"><i class="fa-solid fa-pen-to-square"></i></a>
                            <a class="btnHover" href="{{ path("comment_delete", {id: comment.id })}}"><i class="fa-solid fa-trash"></i></a>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </main>

{% endblock %}
