{% extends 'base.html.twig' %}

{% block title %}{% trans %}Update a article{% endtrans %}{% endblock %}

{% block body %}
    {{ parent() }}

    <main>
        <h1 class="center title">{% trans %}Update a article{% endtrans %}</h1>

        <div class="container-fluid mt-4 w-50">
            {{ form_start(form, { 'attr': {'class': 'flexColumn'}}) }}
                {{ form_row(form.title) }}
                {{ form_row(form.picture) }}
                {{ form_row(form.time) }}
                {{ form_row(form.level) }}
                {{ form_row(form.preparation, { 'attr': {'class': 'flexColumn'}}) }}
            <div class="d-none">
                {{ form_row(form.user) }}
                {{ form_row(form.date) }}

            </div>
            <div class="mb-3 flexCenter">
                <input type="submit" value="{% trans %}Save{% endtrans %}" name="submit" class="btn-primary btn">
            </div>
            {{ form_widget(form._token) }}
            <input type="hidden" name="csrf_token" value="{{ csrf_token("article-add") }}">
            {{ form_end(form, {'render_rest': false}) }}
        </div>
    </main>

{% endblock %}
