{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    {{ parent() }}
    <main>
        <h1 class="center title">{% trans %}Hello {% endtrans %} !</h1>

        <div class="comment">
            <div class="info">
                <p><span class="c-grey">Email</span> : {{ app.user.email }}</p>
            </div>
            <div class="m-2 flexCenter">
                <a class="btn" href="{{ path("user_update", {id: app.user.id })}}">{% trans %}Update my account{% endtrans %}</a>
            </div>
            <div class="m-2 flexCenter">
                <a class="btn" href="{{ path("app_forgot_password_request")}}">{% trans %}Reset my password{% endtrans %}</a>
            </div>
            <div class="m-2 flexCenter">
                <a class="btn" href="{{ path("user_delete", {id: app.user.id })}}">{% trans %}Delete my account{% endtrans %}</a>
            </div>

            <div>
            </div>
        </div>
    </main>
{% endblock %}
